# Hidden files
.npmignore
.gitignore
.editorconfig
.github

# Directories
/docs

# Files
webpack.mix.js
yarn.lock
/dist/mix-manifest.json
/dist/mix.js.map

# Assets development
/node_modules

# OS
.DS_Store
.idea/
.tags
Thumbs.db

# Packages
_ide_helpers.php
.phpunit.result.cache
.vagrant/
/.vscode
/nbproject/
npm-debug.log
package-lock.json
tests/_output/*
yarn-error.log

