// Material colors
// https://material.io/guidelines/style/color.html#color-color-palette

// Red
@c-red-50:   #FFEBEE;
@c-red-100:  #FFCDD2;
@c-red-200:  #EF9A9A;
@c-red-300:  #E57373;
@c-red-400:  #EF5350;
@c-red-500:  #F44336;
@c-red-600:  #E53935;
@c-red-700:  #D32F2F;
@c-red-800:  #C62828;
@c-red-900:  #B71C1C;
@c-red-A100: #FF8A80;
@c-red-A200: #FF5252;
@c-red-A400: #FF1744;
@c-red-A700: #D50000;

// Pink
@c-pink-50:   #FCE4EC;
@c-pink-100:  #F8BBD0;
@c-pink-200:  #F48FB1;
@c-pink-300:  #F06292;
@c-pink-400:  #EC407A;
@c-pink-500:  #E91E63;
@c-pink-600:  #D81B60;
@c-pink-700:  #C2185B;
@c-pink-800:  #AD1457;
@c-pink-900:  #880E4F;
@c-pink-A100: #FF80AB;
@c-pink-A200: #FF4081;
@c-pink-A400: #F50057;
@c-pink-A700: #C51162;

// Purple
@c-purple-50:   #F3E5F5;
@c-purple-100:  #E1BEE7;
@c-purple-200:  #CE93D8;
@c-purple-300:  #BA68C8;
@c-purple-400:  #AB47BC;
@c-purple-500:  #9C27B0;
@c-purple-600:  #8E24AA;
@c-purple-700:  #7B1FA2;
@c-purple-800:  #6A1B9A;
@c-purple-900:  #4A148C;
@c-purple-A100: #EA80FC;
@c-purple-A200: #E040FB;
@c-purple-A400: #D500F9;
@c-purple-A700: #AA00FF;

// Deep Purple
@c-deep-purple-50:   #EDE7F6;
@c-deep-purple-100:  #D1C4E9;
@c-deep-purple-200:  #B39DDB;
@c-deep-purple-300:  #9575CD;
@c-deep-purple-400:  #7E57C2;
@c-deep-purple-500:  #673AB7;
@c-deep-purple-600:  #5E35B1;
@c-deep-purple-700:  #512DA8;
@c-deep-purple-800:  #4527A0;
@c-deep-purple-900:  #311B92;
@c-deep-purple-A100: #B388FF;
@c-deep-purple-A200: #7C4DFF;
@c-deep-purple-A400: #651FFF;
@c-deep-purple-A700: #6200EA;

// Indigo
@c-indigo-50:   #E8EAF6;
@c-indigo-100:  #C5CAE9;
@c-indigo-200:  #9FA8DA;
@c-indigo-300:  #7986CB;
@c-indigo-400:  #5C6BC0;
@c-indigo-500:  #3F51B5;
@c-indigo-600:  #3949AB;
@c-indigo-700:  #303F9F;
@c-indigo-800:  #283593;
@c-indigo-900:  #1A237E;
@c-indigo-A100: #8C9EFF;
@c-indigo-A200: #536DFE;
@c-indigo-A400: #3D5AFE;
@c-indigo-A700: #304FFE;

// Blue
@c-blue-50:   #E3F2FD;
@c-blue-100:  #BBDEFB;
@c-blue-200:  #90CAF9;
@c-blue-300:  #64B5F6;
@c-blue-400:  #42A5F5;
@c-blue-500:  #2196F3;
@c-blue-600:  #1E88E5;
@c-blue-700:  #1976D2;
@c-blue-800:  #1565C0;
@c-blue-900:  #0D47A1;
@c-blue-A100: #82B1FF;
@c-blue-A200: #448AFF;
@c-blue-A400: #2979FF;
@c-blue-A700: #2962FF;

// Light Blue
@c-light-blue-50:   #E1F5FE;
@c-light-blue-100:  #B3E5FC;
@c-light-blue-200:  #81D4FA;
@c-light-blue-300:  #4FC3F7;
@c-light-blue-400:  #29B6F6;
@c-light-blue-500:  #03A9F4;
@c-light-blue-600:  #039BE5;
@c-light-blue-700:  #0288D1;
@c-light-blue-800:  #0277BD;
@c-light-blue-900:  #01579B;
@c-light-blue-A100: #80D8FF;
@c-light-blue-A200: #40C4FF;
@c-light-blue-A400: #00B0FF;
@c-light-blue-A700: #0091EA;

// Cyan
@c-cyan-50:   #E0F7FA;
@c-cyan-100:  #B2EBF2;
@c-cyan-200:  #80DEEA;
@c-cyan-300:  #4DD0E1;
@c-cyan-400:  #26C6DA;
@c-cyan-500:  #00BCD4;
@c-cyan-600:  #00ACC1;
@c-cyan-700:  #0097A7;
@c-cyan-800:  #00838F;
@c-cyan-900:  #006064;
@c-cyan-A100: #84FFFF;
@c-cyan-A200: #18FFFF;
@c-cyan-A400: #00E5FF;
@c-cyan-A700: #00B8D4;

// Teal
@c-teal-50:   #E0F2F1;
@c-teal-100:  #B2DFDB;
@c-teal-200:  #80CBC4;
@c-teal-300:  #4DB6AC;
@c-teal-400:  #26A69A;
@c-teal-500:  #009688;
@c-teal-600:  #00897B;
@c-teal-700:  #00796B;
@c-teal-800:  #00695C;
@c-teal-900:  #004D40;
@c-teal-A100: #A7FFEB;
@c-teal-A200: #64FFDA;
@c-teal-A400: #1DE9B6;
@c-teal-A700: #00BFA5;

// Green
@c-green-50:   #E8F5E9;
@c-green-100:  #C8E6C9;
@c-green-200:  #A5D6A7;
@c-green-300:  #81C784;
@c-green-400:  #66BB6A;
@c-green-500:  #4CAF50;
@c-green-600:  #43A047;
@c-green-700:  #388E3C;
@c-green-800:  #2E7D32;
@c-green-900:  #1B5E20;
@c-green-A100: #B9F6CA;
@c-green-A200: #69F0AE;
@c-green-A400: #00E676;
@c-green-A700: #00C853;

// Light Green
@c-light-green-50:   #F1F8E9;
@c-light-green-100:  #DCEDC8;
@c-light-green-200:  #C5E1A5;
@c-light-green-300:  #AED581;
@c-light-green-400:  #9CCC65;
@c-light-green-500:  #8BC34A;
@c-light-green-600:  #7CB342;
@c-light-green-700:  #689F38;
@c-light-green-800:  #558B2F;
@c-light-green-900:  #33691E;
@c-light-green-A100: #CCFF90;
@c-light-green-A200: #B2FF59;
@c-light-green-A400: #76FF03;
@c-light-green-A700: #64DD17;

// Lime
@c-lime-50:   #F9FBE7;
@c-lime-100:  #F0F4C3;
@c-lime-200:  #E6EE9C;
@c-lime-300:  #DCE775;
@c-lime-400:  #D4E157;
@c-lime-500:  #CDDC39;
@c-lime-600:  #C0CA33;
@c-lime-700:  #AFB42B;
@c-lime-800:  #9E9D24;
@c-lime-900:  #827717;
@c-lime-A100: #F4FF81;
@c-lime-A200: #EEFF41;
@c-lime-A400: #C6FF00;
@c-lime-A700: #AEEA00;

// Yellow
@c-yellow-50:   #FFFDE7;
@c-yellow-100:  #FFF9C4;
@c-yellow-200:  #FFF59D;
@c-yellow-300:  #FFF176;
@c-yellow-400:  #FFEE58;
@c-yellow-500:  #FFEB3B;
@c-yellow-600:  #FDD835;
@c-yellow-700:  #FBC02D;
@c-yellow-800:  #F9A825;
@c-yellow-900:  #F57F17;
@c-yellow-A100: #FFFF8D;
@c-yellow-A200: #FFFF00;
@c-yellow-A400: #FFEA00;
@c-yellow-A700: #FFD600;

// Amber
@c-amber-50:   #FFF8E1;
@c-amber-100:  #FFECB3;
@c-amber-200:  #FFE082;
@c-amber-300:  #FFD54F;
@c-amber-400:  #FFCA28;
@c-amber-500:  #FFC107;
@c-amber-600:  #FFB300;
@c-amber-700:  #FFA000;
@c-amber-800:  #FF8F00;
@c-amber-900:  #FF6F00;
@c-amber-A100: #FFE57F;
@c-amber-A200: #FFD740;
@c-amber-A400: #FFC400;
@c-amber-A700: #FFAB00;

// Orange
@c-orange-50:   #FFF3E0;
@c-orange-100:  #FFE0B2;
@c-orange-200:  #FFCC80;
@c-orange-300:  #FFB74D;
@c-orange-400:  #FFA726;
@c-orange-500:  #FF9800;
@c-orange-600:  #FB8C00;
@c-orange-700:  #F57C00;
@c-orange-800:  #EF6C00;
@c-orange-900:  #E65100;
@c-orange-A100: #FFD180;
@c-orange-A200: #FFAB40;
@c-orange-A400: #FF9100;
@c-orange-A700: #FF6D00;

// Deep Orange
@c-deep-orange-50:   #FBE9E7;
@c-deep-orange-100:  #FFCCBC;
@c-deep-orange-200:  #FFAB91;
@c-deep-orange-300:  #FF8A65;
@c-deep-orange-400:  #FF7043;
@c-deep-orange-500:  #FF5722;
@c-deep-orange-600:  #F4511E;
@c-deep-orange-700:  #E64A19;
@c-deep-orange-800:  #D84315;
@c-deep-orange-900:  #BF360C;
@c-deep-orange-A100: #FF9E80;
@c-deep-orange-A200: #FF6E40;
@c-deep-orange-A400: #FF3D00;
@c-deep-orange-A700: #DD2C00;

// Brown
@c-brown-50:   #EFEBE9;
@c-brown-100:  #D7CCC8;
@c-brown-200:  #BCAAA4;
@c-brown-300:  #A1887F;
@c-brown-400:  #8D6E63;
@c-brown-500:  #795548;
@c-brown-600:  #6D4C41;
@c-brown-700:  #5D4037;
@c-brown-800:  #4E342E;
@c-brown-900:  #3E2723;

// Grey
@c-grey-0:   #ffffff;
@c-grey-50:   #FAFAFA;
@c-grey-100:  #F5F5F5;
@c-grey-200:  #EEEEEE;
@c-grey-300:  #E0E0E0;
@c-grey-400:  #BDBDBD;
@c-grey-500:  #9E9E9E;
@c-grey-600:  #757575;
@c-grey-700:  #616161;
@c-grey-800:  #424242;
@c-grey-900:  #212121;

// Blue Grey
@c-blue-grey-50:   #ECEFF1;
@c-blue-grey-100:  #CFD8DC;
@c-blue-grey-200:  #B0BEC5;
@c-blue-grey-300:  #90A4AE;
@c-blue-grey-400:  #78909C;
@c-blue-grey-500:  #607D8B;
@c-blue-grey-600:  #546E7A;
@c-blue-grey-700:  #455A64;
@c-blue-grey-800:  #37474F;
@c-blue-grey-900:  #263238;

//== Alpha values for grey text, icons, and dividers

// White
@c-white:         #FFF;
@c-white-lighter: rgba(255,255,255,.12); // Dividers
@c-white-light:   rgba(255,255,255,.30); // Disabled / Hint Text
@c-white-dark:    rgba(255,255,255,.70); // Secondary Text
@c-white-darker:  rgba(255,255,255, 1);  // Text / Icons

// Black
@c-black:         #000;
@c-black-lighter: rgba(0,0,0,.12); // Dividers
@c-black-light:   rgba(0,0,0,.26); // Disabled / Hint Text
@c-black-dark:    rgba(0,0,0,.54); // Secondary text / Icons
@c-black-darker:  rgba(0,0,0,.87); // Text
