.fw-thin {
  font-weight: $s-font-weight-thin;
}
.fw-light {
  font-weight: $s-font-weight-light;
}
.fw-regular {
  font-weight: $s-font-weight-regular;
}
.fw-medium {
  font-weight: $s-font-weight-medium;
}
.fw-semi-bold {
  font-weight: $s-font-weight-semi-bold;
}
.fw-bold {
  font-weight: $s-font-weight-bold;
}
.fw-extra-bold {
  font-weight: $s-font-weight-extra-bold;
}
.fw-black {
  font-weight: $s-font-weight-black;
}
