@each $breakpoint, $px in $breakpoints-min {
  @media (min-width: map.get($breakpoints-min, #{$breakpoint})) {
    .#{$breakpoint}\:hide {
      display: none !important;
    }
    .#{$breakpoint}\:show {
      display: block !important;
    }
    .#{$breakpoint}\:show-inline {
      display: inline-block !important;
    }
  }
}
