@each $breakpoint, $px in $breakpoints-min {
  @media (min-width: map.get($breakpoints-min, #{$breakpoint})) {
    $i: 0;

    @while $i <= $s-max-margin {
      $mrg: $i * 1px;

      .#{$breakpoint}\:mrg-bt-#{$i} {
        margin-bottom: $mrg;
        margin-top: $mrg;
      }
      .#{$breakpoint}\:mrg-lr-#{$i} {
        margin-left: $mrg;
        margin-right: $mrg;
      }
      .#{$breakpoint}\:mrg-bottom-#{$i} {
        margin-bottom: $mrg;
      }
      .#{$breakpoint}\:mrg-left-#{$i} {
        margin-left: $mrg;
      }
      .#{$breakpoint}\:mrg-right-#{$i} {
        margin-right: $mrg;
      }
      .#{$breakpoint}\:mrg-top-#{$i} {
        margin-top: $mrg;
      }
      .#{$breakpoint}\:mrg-all-#{$i} {
        margin-bottom: $mrg;
        margin-left: $mrg;
        margin-right: $mrg;
        margin-top: $mrg;
      }

      .#{$breakpoint}\:-mrg-bt-#{$i} {
        margin-bottom: -$mrg;
        margin-top: -$mrg;
      }
      .#{$breakpoint}\:-mrg-lr-#{$i} {
        margin-left: -$mrg;
        margin-right: -$mrg;
      }
      .#{$breakpoint}\:-mrg-bottom-#{$i} {
        margin-bottom: -$mrg;
      }
      .#{$breakpoint}\:-mrg-left-#{$i} {
        margin-left: -$mrg;
      }
      .#{$breakpoint}\:-mrg-right-#{$i} {
        margin-right: -$mrg;
      }
      .#{$breakpoint}\:-mrg-top-#{$i} {
        margin-top: -$mrg;
      }
      .#{$breakpoint}\:-mrg-all-#{$i} {
        margin-bottom: -$mrg;
        margin-left: -$mrg;
        margin-right: -$mrg;
        margin-top: -$mrg;
      }

      $i: $i + $s-increment-mp;
    }
  }
}
