[class*="scontainer"],
[class*="scontainer-liquid"],
[class*="scontainer-1/2"] {
  margin: 0 auto;
  padding-left: $s-scontainer-padding;
  padding-right: $s-scontainer-padding;
}
[class*="scontainer"]:not(.scontainer-liquid):not(.scontainer-1\/2) {
  max-width: $s-scontainer;
  width: 100%;
}
[class*="scontainer-liquid"] {
  margin: 0 auto;
  width: 100%;
}

[class*="scontainer-1/2"] {
  display: inline-block;
}

@mixin mix-make-scontainer-1\/2($type) {

  .#{$type}\:scontainer-1\/2 {
    max-width: $s-scontainer/2;
  }
}
@media (min-width: $m-screen-min) {
  @include mix-make-scontainer-1\/2(m);
}
@media (min-width: $l-screen-min) {
  @include mix-make-scontainer-1\/2(l);
}
@media (min-width: $xl-screen-min) {
  @include mix-make-scontainer-1\/2(xl);
}
