$breakpoints-min: (
  'x':  0px,
  's':  600px,
  'm':  768px,
  'l':  1024px,
  'xl': 1366px
);

$breakpoints-max: (
  'x':  599px,
  's':  767px,
  'm':  1023px,
  'l':  1365px
);

$x-screen-min:  map-get($breakpoints-min, 'x')  !default;
$s-screen-min:  map-get($breakpoints-min, 's')  !default;
$m-screen-min:  map-get($breakpoints-min, 'm')  !default;
$l-screen-min:  map-get($breakpoints-min, 'l')  !default;
$xl-screen-min: map-get($breakpoints-min, 'xl') !default;

$x-screen-max:  map-get($breakpoints-max, 'x')  !default;
$s-screen-max:  map-get($breakpoints-max, 's')  !default;
$m-screen-max:  map-get($breakpoints-max, 'm')  !default;
$l-screen-max:  map-get($breakpoints-max, 'l')  !default;
