$x-screen-min:  0px;
$x-screen-max:  599px;
$s-screen-min:  600px;
$s-screen-max:  767px;
$m-screen-min:  768px;
$m-screen-max:  1023px;
$l-screen-min:  1024px;
$l-screen-max:  1365px;
$xl-screen-min: 1366px;
