$s-body-background-color: #fff;
$s-body-font-color:       #000;
$s-headings-font-color:   #000;
$s-main-link-color:       #2196F3;
$s-main-link-color-hover: #1565C0;
$s-body-font-size:        16;
$s-body-font-family:      -apple-system, BlinkMacSystemFont, "Segoe UI", "Source Sans Pro", Oxygen, sans-serif;
$s-headings-font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Source Sans Pro", Oxygen, sans-serif;
