$s-body-background-color: #fff    !default;
$s-body-font-color:       #000    !default;
$s-headings-font-color:   #000    !default;
$s-main-link-color:       #2196F3 !default;
$s-main-link-color-hover: #1565C0 !default;
$s-body-font-size:        16        !default;
$s-body-font-family:      -apple-system, BlinkMacSystemFont, "Segoe UI", "Source Sans Pro", Oxygen, sans-serif !default;
$s-headings-font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Source Sans Pro", Oxygen, sans-serif !default;
