// scol

.scol-break{
  width: 100%;
}

[class*=":scol"] {
  display: inline-block;
  padding: @s-gutter;
  vertical-align: middle;
  width: (@s-grid * @s-columns) * 1%;

  &.scol--relative {
    position: relative;
  }

  &.scol--full {
    padding: 0px;
  }
}
