[class*="scontainer-liquid"] {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

[class*="scontainer"] {
  margin: 0 auto;
  max-width: @s-scontainer;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;

  &[class*='-half'] {
    display: inline-block;
  }
}

.line {
  font-size: 0px;
  letter-spacing: 0px;
  margin: 0 auto;
  padding: 0px;
  word-spacing: 0px;

  & > * {
    font-size: 1rem;
    letter-spacing: initial;
    word-spacing: initial;
  }
}

[class*=":scol-"] {
  display: inline-block;
  padding: @s-column-padding;
  vertical-align: middle;
  width: (@s-grid * @s-columns) * 1%;

  &:not([class*=':pad-all-0']) {

    & > .line {
      margin: -@s-column-padding;
    }
  }
}

.show-grid-scontainer {

  & [class*="scontainer"] {
    outline: solid 2px;
  }
}
.show-grid-line {

  & [class*="line"] {
    outline: dotted 2px;
  }
}
.show-grid-scol {

  & [class*=":scol-"] {
    outline: dashed 2px;
  }
}
