[class*=":scol-"] {
  display: inline-block;
  padding: @s-column-padding;
  vertical-align: middle;
  width: (@s-grid * @s-columns) * 1%;
}

each(@breakpoints-min, .(@px, @breakpoint) {
  @media (min-width: @px) {
    each(range(@s-columns), .(@loop) {
      .@{breakpoint}\:scol-@{loop} {
        width: (@s-grid * @loop) * 1%;
      }
    })
  }
})
