[class*="scontainer"],
[class*="scontainer-liquid"],
[class*="scontainer-1/2"] {
  margin: 0 auto;
  padding-left: @s-scontainer-padding;
  padding-right: @s-scontainer-padding;
}
[class*="scontainer"] {
  max-width: @s-scontainer;
  width: 100%;
}
[class*="scontainer-liquid"] {
  margin: 0 auto;
  width: 100%;
}

[class*="scontainer-1/2"] {
  display: inline-block;
}
.mix-make-scontainer-1\/2(@type) {

  &.@{type}\:scontainer-1\/2 {
    max-width: @s-scontainer/2;
  }
}
@media (min-width: @m-screen-min) {
  .mix-make-scontainer-1\/2(m);
}
@media (min-width: @l-screen-min) {
  .mix-make-scontainer-1\/2(l);
}
@media (min-width: @xl-screen-min) {
  .mix-make-scontainer-1\/2(xl);
}
