@mixin mix-color-class($color, $name) {
  .c-#{$name} {
    color: $color;
  }
}
@mixin mix-bg-class($color, $name) {
  .bg-#{$name} {
    background-color: $color;
  }
}
@mixin mix-bg-color-class($color, $name) {
  .bg-#{$name} {
    background-color: $color;
  }
  .c-#{$name} {
    color: $color;
  }
}
