// Padding
.mix-padding(@type) {

  .pad-side(@n, @i: 0) when (@i =< @n) {

    @count: @i * 10;

    .@{type}\:pad-all-@{count} {
      padding-bottom: @count * 1px;
      padding-left: @count * 1px;
      padding-right: @count * 1px;
      padding-top: @count * 1px;
    }

    .@{type}\:pad-bt-@{count} {
      padding-bottom: @count * 1px;
      padding-top: @count * 1px;
    }

    .@{type}\:pad-lr-@{count} {
      padding-left: @count * 1px;
      padding-right: @count * 1px;
    }

    .@{type}\:pad-bottom-@{count} {
      padding-bottom: @count * 1px;
    }

    .@{type}\:pad-left-@{count} {
      padding-left: @count * 1px;
    }

    .@{type}\:pad-right-@{count} {
      padding-right: @count * 1px;
    }

    .@{type}\:pad-top-@{count} {
      padding-top: @count * 1px;
    }

    .pad-side(@n, (@i + .5));
  }

  // --

  .pad-side(@s-max-padding);
}

// Padding | Media querys
@media (min-width: @x-screen-max) {
  .mix-padding(x);
}

@media (min-width: @s-screen-min) {
  .mix-padding(s);
}

@media (min-width: @m-screen-min) {
  .mix-padding(m);
}

@media (min-width: @l-screen-min) {
  .mix-padding(l);
}
