each(@color-list, .(@color) {
  each(range(50, 50, 50), .(@loop) {
    @cVar:  'c-@{color}-@{loop}';
    @cName: @{color}-@{loop};

    .mix-bg-color-class(@@cVar, @cName);
  })
  each(range(100, 900, 100), .(@loop) {
    @cVar:  'c-@{color}-@{loop}';
    @cName: @{color}-@{loop};

    .mix-bg-color-class(@@cVar, @cName);
  })
})

each(@color-list-basic, .(@color) {
  @cVar:  'c-@{color}';
  @cName: @{color};
  .mix-bg-color-class(@@cVar, @cName);
})
