.colors-default-50(@type) {

  @color: 'c-@{type}-50';

  .mix-bg-color-class(@@color, ~'@{type}-50');
}
.colors-default(@type, @loops, @loop: 100) when (@loop <= @loops) {
  .colors-default(@type, @loops, @loop + 100);

  @color: 'c-@{type}-@{loop}';

  .mix-bg-color-class(@@color, ~'@{type}-@{loop}');
}

.make-color-classes-default(@i: length(@color-list)) when (@i > 0) {
  .make-color-classes-default(@i - 1);

  @currentColor: extract(@color-list, @i);

  .colors-default-50(@currentColor);
  .colors-default(@currentColor, 900);
}
.make-color-classes-default;

.mix-bg-color-class(@c-black, black);
.mix-bg-color-class(@c-white, white);
