// <a>

a {

  &.a-contrast-color {
    color: @s-main-link-color-hover;

    &:active,
    &:hover,
    &:focus {
      color: @s-main-link-color;
    }
  }
}

// Aspect ratio
.aspect-ratio-3\:2 {
  .mix-aspect-ratio(3,2);
}
.aspect-ratio-4\:3 {
  .mix-aspect-ratio(4,3);
}
.aspect-ratio-16\:9 {
  .mix-aspect-ratio(16,9);
}
.aspect-ratio-21\:9 {
  .mix-aspect-ratio(21,9);
}

// Background image
.bg-img-cover {
  background-position: center;
  background-size: cover;
}
.bg-img-fixed {
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate3d(0,0,0);

  @media (max-width: @l-screen-max) {
    background-attachment: scroll;
    background-size: cover;
  }
}

// Background position
.bg-pos-bottom {
  background-position: bottom;
}
.bg-pos-center {
  background-position: center;
}
.bg-pos-left {
  background-position: left;
}
.bg-pos-right {
  background-position: right;
}
.bg-pos-top {
  background-position: top;
}

// Display
.dis-block {
  display: block;
}
.dis-inline-block {
  display: inline-block;
}
.dis-table {
  display: table;
}
.dis-table-row {
  display: table-row;
}
.dis-table-cell {
  display: table-cell;
}

// Font famyly
.ff-body {
  font-family: @s-body-font;
}
.ff-heading {
  font-family: @s-heading-font;
}

// Font weight
.fw-thin {
  font-weight: @s-body-font-weight-thin;
}
.fw-light {
  font-weight: @s-body-font-weight-light;
}
.fw-regular {
  font-weight: @s-body-font-weight-regular;
}
.fw-medium {
  font-weight: @s-body-font-weight-medium;
}
.fw-semi-bold {
  font-weight: @s-body-font-weight-semi-bold;
}
.fw-bold {
  font-weight: @s-body-font-weight-bold;
}

// Img
.img-liquid {
  max-width: 100%;
}

// Overflow
.ovf-auto {
  overflow: auto;
}
.ovf-hidden {
  overflow: hidden;
}
.ovf-visible {
  overflow: visible;
}

// Position
.pos-relative {
  position: relative;
}

// Table
.table-responsive {
  overflow: auto;
  max-width: 100%;
}

// Transition
.trans-ease {
  .mix-transition(all, .2s, ease);
}
.trans-linear {
  .mix-transition(all, .2s, linear);
}

// Txt
.txt-capitalize {
  text-transform: capitalize;
}
.txt-first-uppercase {

  &:first-letter {
    text-transform: uppercase;
  }
}
.txt-italic {
  font-style: italic;
}
.txt-lowercase {
  text-transform: lowercase;
}
.txt-normal {
  font-style: normal;
}
.txt-normal-case {
  text-transform: none;
}
.txt-uppercase {
  text-transform: uppercase;
}
.txt-overline {
  text-decoration: overline;
}
.txt-underline {
  text-decoration: underline;
}
.txt-through {
  text-decoration: line-through;
}
.txt-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.txt-word-break {
  word-break: break-all;
}

// White space
.ws-normal {
  white-space: normal;
}
.ws-nowrap {
  white-space: nowrap;
}
.ws-pre-line {
  white-space: pre-line;
}

// Width & height
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

// Others
.appearance-none {
  appearance: none;
}
.inline-block-clear {
  .line;
}
.user-select-none {
  -webkit-touch-callout: none;
  user-select: none;
}
