each(@breakpoints-min, .(@px, @breakpoint) {
  @media (min-width: @px) {
    .@{breakpoint}\:hide {
      display: none !important;
    }
    .@{breakpoint}\:show {
      display: block !important;
    }
    .@{breakpoint}\:show-inline {
      display: inline-block !important;
    }
  }
})
