.mix-make-hiding-showing(@type) {

  .@{type}\:hide {
    display: none !important;
  }
  .@{type}\:show {
    display: block !important;
  }
  .@{type}\:show-inline {
    display: inline-block !important;
  }
}

@media (min-width: @x-screen-min) {
  .mix-make-hiding-showing(x);
}

@media (min-width: @s-screen-min) {
  .mix-make-hiding-showing(s);
}

@media (min-width: @m-screen-min) {
  .mix-make-hiding-showing(m);
}

@media (min-width: @l-screen-min) {
  .mix-make-hiding-showing(l);
}

@media (min-width: @xl-screen-min) {
  .mix-make-hiding-showing(xl);
}

.mix-make-visibility(@type) {

  .@{type}\:vis-hidden {
    visibility: hidden !important;
  }
  .@{type}\:vis-visible {
    visibility: visible !important;
  }
}

@media (min-width: @x-screen-min) {
  .mix-make-visibility(x);
}

@media (min-width: @s-screen-min) {
  .mix-make-visibility(s);
}

@media (min-width: @m-screen-min) {
  .mix-make-visibility(m);
}

@media (min-width: @l-screen-min) {
  .mix-make-visibility(l);
}

@media (min-width: @xl-screen-min) {
  .mix-make-visibility(xl);
}

@media screen {

  .show-print,
  .show-print-inline {
    display: none !important;
  }
}

@media print {

  .hide-print {
    display: none !important;
  }
  .show-print {
    display: block !important;
  }
  .show-print-inline {
    display: inline-block !important;
  }
}
