.mix-margin(@type) {

  .mrg-side(@n, @i: 0) when (@i =< @n) {

    @count: @i * 10;

    .@{type}\:mrg-all-@{count} {
      margin-bottom: @count * 1px;
      margin-left: @count * 1px;
      margin-right: @count * 1px;
      margin-top: @count * 1px;
    }
    .@{type}\:mrg-bt-@{count} {
      margin-bottom: @count * 1px;
      margin-top: @count * 1px;
    }
    .@{type}\:mrg-lr-@{count} {
      margin-left: @count * 1px;
      margin-right: @count * 1px;
    }
    .@{type}\:mrg-bottom-@{count} {
      margin-bottom: @count * 1px;
    }
    .@{type}\:mrg-left-@{count} {
      margin-left: @count * 1px;
    }
    .@{type}\:mrg-right-@{count} {
      margin-right: @count * 1px;
    }
    .@{type}\:mrg-top-@{count} {
      margin-top: @count * 1px;
    }
    .@{type}\:mrg-neg-all-@{count} {
      margin-bottom: -@count * 1px;
      margin-left: -@count * 1px;
      margin-right: -@count * 1px;
      margin-top: -@count * 1px;
    }
    .@{type}\:mrg-neg-bt-@{count} {
      margin-bottom: -@count * 1px;
      margin-top: -@count * 1px;
    }
    .@{type}\:mrg-neg-lr-@{count} {
      margin-left: -@count * 1px;
      margin-right: -@count * 1px;
    }
    .@{type}\:mrg-neg-bottom-@{count} {
      margin-bottom: -@count * 1px;
    }
    .@{type}\:mrg-neg-left-@{count} {
      margin-left: -@count * 1px;
    }
    .@{type}\:mrg-neg-right-@{count} {
      margin-right: -@count * 1px;
    }
    .@{type}\:mrg-neg-top-@{count} {
      margin-top: -@count * 1px;
    }

    .mrg-side(@n, (@i + .5));
  }

  .mrg-side(@s-max-margin);
}

@media (min-width: @x-screen-min) {
  .mix-margin(x);
}

@media (min-width: @s-screen-min) {
  .mix-margin(s);
}

@media (min-width: @m-screen-min) {
  .mix-margin(m);
}

@media (min-width: @l-screen-min) {
  .mix-margin(l);
}

@media (min-width: @xl-screen-min) {
  .mix-margin(xl);
}
