@media screen {

  .show-print,
  .show-print-inline {
    display: none !important;
  }
}
@media print {

  .hide-print {
    display: none !important;
  }
  .show-print {
    display: block !important;
  }
  .show-print-inline {
    display: inline-block !important;
  }
}
