.txt-capitalize {
  text-transform: capitalize;
}
.txt-first-uppercase {

  &:first-letter {
    text-transform: uppercase;
  }
}
.txt-italic {
  font-style: italic;
}
.txt-lowercase {
  text-transform: lowercase;
}
.txt-normal {
  font-style: normal;
}
.txt-normal-case {
  text-transform: none;
}
.txt-uppercase {
  text-transform: uppercase;
}
.txt-overline {
  text-decoration: overline;
}
.txt-underline {
  text-decoration: underline;
}
.txt-through {
  text-decoration: line-through;
}
.txt-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.txt-word-break {
  word-break: break-all;
}
